html {
  background-color: white;
  color: black;
  height: 100%;
  font-size: 16px;
  font-family: "Nunito", serif, "Microsoft JhengHei", "PingFang TC";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #010d13;
  text-decoration: underline;

  &:hover {
    color: lighten($color: #010d13, $amount: 30);
    text-decoration: underline;
  }
  &:visited {
    color: lighten($color: #010d13, $amount: 20);
    font-style: italic;
  }
}

ul {
  // text-transform: capitalize;
  list-style-type: square;
  padding: 0;

  li {
    margin: 0.4rem 0;
  }
}

dialog {
  position: relative;
  min-width: 300px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  overflow: auto;
  border-radius: 8px;

  &::backdrop {
    background-color: rgba($color: #000000, $alpha: 0.36);
  }

  @media (max-width: 768px) {
    width: 100vw !important;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &-content {
    overflow: auto;
    flex: 1;
    height: 0;
    ul,
    ol {
      text-transform: none;
      padding-left: 2em;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3,
    h2,
    h1 {
      margin: 0;
    }
  }

  .close {
    cursor: pointer;
    color: rgb(239, 158, 158);
    text-decoration: none;
    font-size: 1.5rem;
    right: 0;
    top: 0;
    transform: translate(-100%, 0);
    &:hover {
      color: rgb(241, 102, 102);
    }
  }
}

hr {
  margin: 0;
  padding: 0;
  height: 1px;
  background: #ddd;
  border: none;
}

.img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none !important;
}

.underline {
  &::after {
    content: "";
    display: block;
    height: 4px;
    background-color: #049cf468;
    transform: translate(-0.2em, -0.2em);
  }
}

.rounded {
  border-radius: 3px 4px;
}

blockquote {
  position: relative;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  color: #333;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translate(0, -50%);
    height: 68%;
    width: 4px;
    background-color: #ddd;
  }
}
