html {
  background-color: white;
  color: black;
  height: 100%;
  font: 18px/1.6 "Nunito", "Yuanti SC", "PingFang TC", "Microsoft JhengHei";
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

body {
  display: flex;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #010d13;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-color: #07364e;
  transition: text-underline-offset 0.1s ease-in-out, color 0.1s ease-in-out;

  &:hover {
    color: lighten($color: #010d13, $amount: 50);
    text-decoration-color: lighten($color: #010d13, $amount: 50);
    text-underline-offset: 1px;
  }
}

ul {
  list-style-type: square;
  padding: 0;
  padding-left: 1em;
  list-style-position: inside;
  font-size: 0.92em;

  li {
    margin: 0.4rem 0;
  }
}

hr {
  margin: 0;
  padding: 0;
  height: 1px;
  background: #ddd;
  border: none;
}

blockquote {
  position: relative;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  color: #333;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translate(0, -50%);
    height: 68%;
    width: 4px;
    background-color: #ddd;
  }
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  line-height: 1.6;
  margin: 2rem 0;

  thead > tr {
    border-bottom: 2px solid #ddd;
  }

  tbody > tr {
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }

  th,
  td {
    padding: 0.5rem;
    vertical-align: top;
    text-align: left;
    word-break: break-word;
  }
}

dialog {
  position: relative;
  min-width: 300px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  overflow: auto;
  border-radius: 8px;

  &::backdrop {
    background-color: rgba($color: #000000, $alpha: 0.36);
  }

  @media (max-width: 768px) {
    width: 100vw !important;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &-content {
    overflow: auto;
    flex: 1;
    height: 0;
    ul,
    ol {
      text-transform: none;
      padding-left: 2em;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3,
    h2,
    h1 {
      margin: 0;
    }
  }

  .close {
    cursor: pointer;
    color: rgb(239, 158, 158);
    text-decoration: none;
    font-size: 1.5rem;
    right: 0;
    top: 0;
    transform: translate(-100%, 0);
    &:hover {
      color: rgb(241, 102, 102);
    }
  }
}

.img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none !important;
}

.underline {
  &::after {
    content: "";
    display: block;
    height: 4px;
    background-color: #049cf468;
    transform: translate(-0.2em, -0.2em);
  }
}

.rounded {
  border-radius: 3px 4px;
}
