@font-face {
	font-family: "BrandonGrotesque";
	src: url("https://www.zhangxinghai.cn/assets/fonts/brandon/brandon_reg-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "BrandonGrotesqueBold";
	src: url("https://www.zhangxinghai.cn/assets/fonts/brandon/brandon_reg-webfont.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
