$after-virtual-size: 48px;
$lg-screen-width: 1024px;
$md-screen-width: 768px;
$md-screen-width_1: $md-screen-width + 1px;
$sm-screen-width: 576px;
$sm-screen-width_1: $sm-screen-width + 1px;
$xs-screen-width: 480px;