$after-virtual-size: 48px;
$lg-screen-width: 1024px;
$md-screen-width: 768px;
$md-screen-width_1: $md-screen-width + 1px;
$sm-screen-width: 576px;
$sm-screen-width_1: $sm-screen-width + 1px;
$xs-screen-width: 480px;

$bg-color: #ffffff;
$text-color: #222222;
$text-title-color: #111;
$text-em-color: #111;
$accent-color: #d6a864;

$a-text-color: #3e6074;
$a-hover-text-color: #2b3a67;

$line-color: #b0bec5;
$em-bg-color: #f0efe7;
$code-bg-color: #eaf3ff;
