---
---

.Content {
  padding: 0;
  background-color: aliceblue;
  width: 100%;
  overflow: hidden;

  .Callapse {
    display: unset;
  }
  .Expand {
    display: none;
  }

  &.dev {
    .Explain {
      display: none;
    }

    .Expand {
      display: unset;
    }
    .Callapse {
      display: none;
    }

    .MenuButtons {
      top: 3px;
      left: 3px;
      border: 1px solid #fff;

      @media screen and (max-width: 1200px) {
        top: 36px;
        left: 36px;
        transform: translate(-100%, -100%);
        transition: transform 0.1s linear;

        &:hover {
          transform: translate(-33px, -33px);
        }

        &:hover::after {
          display: none;
        }

        &::after {
          content: "☰";
          cursor: pointer;
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translate(0, 0);
          width: 36px;
          height: 36px;
          line-height: 32px;
          text-align: center;
          background-color: #fff;
          color: #000;
          border-radius: 4px;
        }
      }
    }
  }
}

.Section {
  position: relative;
  height: 100vh;

  .Pager {
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #444;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #444;
  }
}

.BG {
  display: none;
}

.PgApp {
  width: 100%;
  height: 100%;

  &Wrap {
    position: relative;
    height: 100vh;
  }

  &Controls {
    position: absolute;
    padding: 0.5rem 1rem;
    top: 3px;
    right: 3px;
    z-index: 100;
    min-width: 100px;
    width: fit-content;
    max-width: 450px;
    min-height: 100px;
    height: fit-content;
    background-color: #57575787;
    color: #fefefe;
    border: 1px solid #fff;

    .Control {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.1rem;
      margin: 2px 0;

      &-select-clear-btn {
        margin-left: 2px;
        padding: 0 0.3em;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        &:hover {
          color: grey;
        }
      }

      input {
        display: block;
        outline: none;
        border-radius: 2px;
        border: 1px solid #fff;

        &[type="button"] {
          min-width: 5rem;
          cursor: pointer;
          &:hover {
            border-color: #fefefe;
            background-color: #eeeeee;
          }
        }
      }

      label {
        font-size: 0.8rem;
        &::after {
          content: ":";
        }
      }
    }
  }

  &ScaleBar {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2px;

    label {
      font-size: 0.9rem;
    }

    div {
      width: 100px;
      height: 10px;
      border-color: #fff;
      border-style: solid;
      border-top-width: 0;
      border-left-width: 1px;
      border-bottom-width: 1px;
      border-right-width: 1px;
    }
  }
}

.Explain {
  padding: 1rem 2rem;
  height: auto;
  background-color: white;

  @media screen and (max-width: 1200px) {
    display: none;
  }

  > h3 {
    margin: 0;
    font-size: 2rem;
    text-transform: capitalize;
  }

  .highlighter-rouge {
    overflow: auto;
    max-height: 100vh;
    height: fit-content;
    background-color: aliceblue;
    padding: 0.5rem;
    border: 1px solid #fefefe;
    margin: 0.5rem 0;
    font-size: 0.7rem;
  }
}

.Menu {
  position: fixed;
  z-index: 300;
  padding: 2rem 2rem;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  color: black;
  transition: top 0.2s linear;
  font-size: 1rem;
  border-left: 1px solid #444;

  @media (min-width: 1200px) {
    width: 50%;
  }

  &.inview {
    top: 0;
  }

  &Buttons {
    display: inline-flex;
    width: fit-content;
    position: fixed;
    top: 3px;
    left: 3px;
    gap: 0.2rem;
    padding: 0.5rem 0.3rem;
    border-radius: 0.3rem 0.2rem;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #000;

    @media (min-width: 1200px) {
      right: 3px;
      left: unset;
    }
  }

  &Button {
    cursor: pointer;
    text-decoration: none;
    text-underline-offset: 5px;
    display: block;
    width: 3rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
  }
}

.MenuItems {
  display: flex;
  margin-top: 2rem;
  justify-content: left;
  flex-wrap: wrap;
}

.MenuItem {
  padding: 0.1rem 0.2rem;
  margin: 0.1rem 0.3rem;
  text-transform: capitalize;
}

.TsfileDate {
  h4 {
    margin: 0.2rem 0;
  }
  font-size: 0.86rem;
  background-color: antiquewhite;
  padding: 1rem 2rem;
}

.RuntsGitLogs {
  font-size: 0.75rem;
  background: linear-gradient(45deg, black, transparent);
  color: white;
  line-height: 1;
  padding: 1rem 2rem;
  border-radius: 3px 4px;
}

.AxisLengend {
  display: flex;
  gap: 2px;

  .Axis {
    color: white;
    width: 68px;
    text-align: center;
    border-radius: 3px 4px;
  }
}

.panel {
  $offset: 3px;

  &.fixed {
    position: fixed;
  }

  &.thin {
    padding: 0.1em 1em;
  }

  &.white {
    background-color: #fff;
    color: #000;
  }

  &.shadow {
    box-shadow: 0px 1px 4px 1px #000;
  }

  position: absolute;
  z-index: 100;
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 3px 4px;
  background: rgba(0, 0, 0, 0.78);
  color: #fff;
  overflow: visible;

  &-left {
    left: $offset;
    top: 50%;
    transform: translate(0, -50%);
  }
  &-left-top {
    left: $offset;
    top: $offset;
  }
  &-top {
    left: 50%;
    top: $offset;
    transform: translate(-50%, 0);
  }
  &-right-top {
    right: $offset;
    top: $offset;
  }
  &-right {
    right: $offset;
    top: 50%;
    transform: translate(0, -50%);
  }
  &-right-bottom {
    right: $offset;
    bottom: $offset;
  }
  &-bottom {
    left: 50%;
    bottom: $offset;
    transform: translate(-50%, 0);
  }
  &-left-bottom {
    left: $offset;
    bottom: $offset;
  }

  /* Extra-large screens (e.g., 4K displays) */
  @media screen and (max-width: 1200px) {
    $after-virtual-size: 36px;

    &:not(.keep)::after {
      content: "↙";
      cursor: pointer;
      position: absolute;
      box-sizing: border-box;
      width: $after-virtual-size;
      height: $after-virtual-size;
      line-height: 32px;
      text-align: center;
      display: block;
      color: green;
      background-color: #fff;
      border-radius: 50%;
      border: 3px solid transparent;
    }

    &.as-dialog:not(.keep) {
      top: 50%;
      left: 50%;
      bottom: unset;
      right: unset;
      width: 89vw;
      transform: translate(-50%, -50%);
      box-sizing: border-box;

      &::after {
        right: 3px;
        top: 3px;
        left: unset;
        bottom: unset;
        transform: none;
        background-color: pink;
        color: #fff;
        content: "\2716";
      }
    }

    &-left:not(.keep) {
      left: $offset;
      top: 50%;
      transform: translate(-100%, -50%);

      &::after {
        left: 100%;
        top: 50%;
      }
    }

    &-left-top:not(.keep) {
      left: $offset;
      top: $offset;
      transform: translate(-100%, -100%);
      &::after {
        left: 100%;
        top: 100%;
      }
    }
    &-top:not(.keep) {
      left: 50%;
      top: $offset;
      transform: translate(-50%, -100%);
      &::after {
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%) rotate(-45deg);
      }
    }
    &-right-top:not(.keep) {
      right: $offset;
      top: $offset;
      transform: translate(100%, -100%);
      &::after {
        left: 0;
        bottom: 0;
        transform: translate(-100%, 100%);
      }
    }
    &-right:not(.keep) {
      right: $offset;
      top: 50%;
      transform: translate(100%, -50%);
    }
    &-right-bottom:not(.keep) {
      right: $offset;
      bottom: $offset;
      transform: translate(100%, 100%);
    }
    &-bottom:not(.keep) {
      left: 50%;
      bottom: $offset;
      transform: translate(-50%, 100%);
    }
    &-left-bottom:not(.keep) {
      left: $offset;
      bottom: $offset;
      transform: translate(-100%, 100%);
      &::after {
        top: 0;
        right: 0;
        transform: translate(100%, -100%) rotate(180deg);
      }
    }
  }
}

.nopanel {
  .panel:not(.keep) {
    display: none;
  }
}
