---
---

@import "./var";
@import "./fonts";

body {
  justify-content: center;
}

.Content {
  z-index: 1;
  width: 21cm;

  @media screen and (max-width: $md-screen-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.BG {
  background-color: $bg-color;
}

.BookTitle {
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 2.5em 0 1em 0;

  h2,
  h3 {
    line-height: 1.2;
    font-weight: bolder;
  }

  h3 {
    font-size: 1em;
    font-style: italic;
  }
}

.BookMeta {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1em;

  &--foot {
    margin-bottom: 1.5em;
  }

  &-Part {
    display: flex;
    gap: 0.6em;
    align-items: center;
  }

  &__Links {
    a {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
      display: block;
      width: 24px;
      height: 24px;
      color: $text-color;
    }
  }

  &__Info {
    label {
      color: $text-color;
    }
  }

  .typewriter {
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
  }
}

.BookBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem -2rem;

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
  }

  p {
    margin: 0 0 0.5rem 0;
    font-size: 0.82em;
    font-weight: normal;
    text-align: center;
  }
}

.BookContent {
  position: relative;
  margin: 5.5em 0 0 0;
  font-size: 1.2rem;
  line-height: 2;
  -webkit-font-smoothing: antialiased;

  & > .loading-overlay {
    position: absolute;
    top: 0;
    left: -5%;
    width: 110%;
    height: 100%;
    pointer-events: none;
    background-color: rgba($color: #fff, $alpha: 0.13);
    background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      transparent 75%,
      transparent
    );
    background-size: 40px 40px;
    animation: move-stripes 1s linear infinite;
    z-index: 10;
  }

  @keyframes move-stripes {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 0;
    }
  }

  &::selection {
    background: black;
    color: white; /* Optional: this sets the text color inside the selection */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.4em;
    margin-top: 2.5em;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 0.8em;
    &::before {
      content: "﹟";
    }
  }

  h4,
  h5,
  h6 {
    font-size: 1.05em;
  }

  p img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;

    & + em {
      display: block;
      margin-top: 0.2em;
      font-style: normal;
      text-align: center;
      font-size: 0.82em;
      line-height: 1.2;
      background-color: transparent;
    }
  }

  blockquote {
    line-height: 1.4;
  }

  hr {
    width: 38.2%;
    margin: 3em auto;
    position: relative;
    overflow: visible;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -3px;
      left: 50%;
      transform: translate(-3px, 0) rotate(45deg);
      width: 6px;
      height: 6px;
      background-color: $line-color;
    }
  }

  ul {
    list-style-position: inside;
    padding-left: 2em;
  }

  .CodeRun {
    background-color: #000;

    &-title {
      font-size: 0.86em;
      color: #fff;
      text-align: center;
    }
  }
}

.BookSide {
  position: fixed;
  top: 0;
  z-index: 45;
  width: fit-content;
  min-width: 200px;
  max-width: 450px;
  height: 100vh;
  overflow: hidden;
  background-color: $text-color;
  color: #ffffff;
  display: none;

  @media screen and (min-width: $lg-screen-width) {
    display: block;
  }

  .IN {
    box-sizing: border-box;
    padding: 1rem;
    height: 100vh;
    font-size: 1.05rem;
    overflow-y: auto;
  }

  h2,
  h3 {
    font-weight: normal;
    color: inherit;
  }

  h2 {
    font-size: 1.3em;
    margin: 0.5em 0;
  }

  h3 {
    font-size: 1.1em;
    margin: 1.5em 0 0.5em 0;
  }

  ul {
    list-style-type: square;
    padding-left: 1rem;

    li {
      margin-bottom: 0.5em;

      &.H3 {
        padding-left: 1em;
        font-size: 0.88em;
        list-style-type: circle;
      }

      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }

  &.BookChapterMenu {
    right: 1rem;
    transform: translate(100%, 0);

    li.highlighted {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 2rem;
        background: aquamarine;
        height: 100%;
        left: -2.5rem;
        top: 0px;
      }
    }

    &:hover {
      right: 0;
      transform: translate(0, 0);
    }
  }

  &.BookChapters {
    left: 1rem;
    transform: translate(-100%, 0);

    &:hover {
      left: 0;
      transform: translate(0, 0);
    }
  }
}

.Book_Read_Progress {
  z-index: 40;
  position: fixed;
  width: 100vw;
  height: fit-content;
  left: 0;
  bottom: 0;
  background-color: $text-color;

  &.Top {
    bottom: unset;
    top: 0;
    height: 0.5rem;
  }

  .IN {
    font-size: 0.8rem;
    line-height: 1rem;
    width: 0;
    height: 1rem;
    background-color: #ddd;
    text-align: right;
    color: #222;
  }
}

.openGLbox {
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 4px 6px;
  font-size: 0.9em;
  border: 1px solid #444;

  &-green {
    background-color: #d8f5d8;
    color: #444;
    border-color: #afdfaf;
  }

  &-red {
    background-color: #ffd2d2;
    color: #444;
    border-color: #e0b3b3;
  }
}

.english {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-size: 1.2em;
  line-height: 1.6;

  &.text-sm {
    font-size: 1em;
  }
}

@import "./code";
