---
---

.Content {
  z-index: 100;
  margin: 0 auto;
  box-shadow: 0 0 1px 1px #ddd;

  /* 适配不同设备 */
  @media (max-width: 576px) {
    /* 手机 */
    width: 100%;
  }
  @media (min-width: 577px) and (max-width: 768px) {
    /* 平板 */
    width: 90%;
    max-width: 720px;
  }
  @media (min-width: 769px) {
    width: 80%;
    max-width: 1200px;
    margin: auto;
  }
}

.Home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.BG {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/images/3lbg.jpg);
  background-size: cover;
  filter: blur(8px) brightness(0.4);
}

@media only screen and (max-width: 640px) {
  .Content {
    width: 100%;
  }
}
