---
---

.Content {
  z-index: 100;
  margin: 0 auto;
  box-shadow: 0 0 1px 1px #ddd;

  /* 适配不同设备 */
  @media (max-width: 576px) {
    /* 手机 */
    width: 100%;
  }
  @media (min-width: 577px) and (max-width: 768px) {
    /* 平板 */
    width: 90%;
    max-width: 720px;
  }
  @media (min-width: 769px) {
    width: 80%;
    max-width: 1200px;
    margin: auto;
  }
}

.Home {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.ThreeJsLogo {
  width: 5rem;
  transform-origin: center;
  transition: transform 0.5s linear;

  &Box {
    display: block;
    width: 5rem;
    height: 5rem;
    border: 1px solid #767676;
    border-radius: 50%;
    position: relative;
  }

  &:hover {
    transform: rotate(180deg);
  }
}

.BG {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/images/3lbg.jpg);
  background-size: cover;
  filter: blur(8px) brightness(0.4);
}

.Flex {
  display: flex;
  justify-content: left;
  align-items: center;
  // flex-direction: column;
  text-align: center;
}

.Portfolio {
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;

  &-item {
    width: 25%;
    padding: 4px;
    text-align: left;
    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
}

@media only screen and (max-width: 640px) {
  .Content {
    width: 100%;
  }
}
