---
---

@import "./var";
@import "./base";

.Content {
  padding: 1rem 2rem;
  min-height: 100vh;
  background-color: $bg-color;
  color: $text-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-title-color;
  }

  a {
    color: $a-text-color;
    &:hover {
      color: $a-hover-text-color;
    }
  }

  em {
    background-color: $em-bg-color;
    color: $text-em-color;
    border-radius: 4px;
    padding: 0 4px;
    font-style: normal;
  }

  code.highlighter-rouge {
    padding: 0.1em 0.3em;
    background-color: $code-bg-color;
    border-radius: 4px;
    font-size: 0.8em;
    font-family: monospace;
    font-style: italic;
  }
}

.BG {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
}

.BookProgress {
  $color-todo: #4b4b40;

  &.current::after {
    content: "✔︎";
  }

  &-todo {
    cursor: not-allowed;
    color: $color-todo;

    a {
      color: $color-todo;
      pointer-events: none;
    }
  }

  &-done,
  &-doing {
    color: inherit;
    a {
      color: inherit;
    }
  }
}

@import "./skills.scss";
@import "../_sass/cases.scss";
