<!DOCTYPE html>

<html class="hide-scrollbar">

<head>
  {% include head.html %}

  {% if page.kofi %}
  <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
  {% endif %}

  {% if page.math %}
  <link rel="stylesheet" href="/assets/jslibs/katex/katex.min.css">
  <script defer src="/assets/jslibs/katex/katex.min.js"></script>
  <script defer src="/assets/jslibs/katex/contrib/auto-render.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const container = document.querySelector('.BookContent');

      renderMathInElement(container, {
        delimiters: [
          { left: "$$", right: "$$", display: true },  // Block math
          { left: "$", right: "$", display: false }    // Inline math
        ],
        throwOnError: false
      });

      container.querySelectorAll("pre code.language-math").forEach((block) => {
        const tex = block.textContent.trim();
        const wrapper = document.createElement("div");
        katex.render(tex, wrapper, { displayMode: true, throwOnError: false });
        block.replaceWith(wrapper);
      });
    });
  </script>

  {% endif %}

  <link rel="stylesheet" href="/assets/course.css?ts={{site.time | date: '%s'}}" />
</head>

<body>
  <div class="BG"></div>
  <div class="Content">

    <div class="BookTitle">
      <h2>
        {{page.title}}
      </h2>
    </div>

    <div class="BookMeta">
      <div class="BookMeta-Part BookMeta__Links">
        <a href="/{{ page.collection | default: 'courses' }}" title="back"
          style="font-weight: 100; text-decoration: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left-dashed">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12h6m3 0h1.5m3 0h.5" />
            <path d="M5 12l6 6" />
            <path d="M5 12l6 -6" />
          </svg>
        </a>
        {% include links.html %}
        <a href="javascript:void(0);" title="language"
          onclick="var pp = '{{page.url}}'.replace(/\.html$/, ''); if (pp.endsWith('-en')) {location.href=pp.replace(/\-en$/, '');} else {location.href=pp + '-en';}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-language">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 5h7" />
            <path d="M9 3v2c0 4.418 -2.239 8 -5 8" />
            <path d="M5 9c0 2.144 2.952 3.908 6.7 4" />
            <path d="M12 20l4 -9l4 9" />
            <path d="M19.1 18h-6.2" />
          </svg>
        </a>
      </div>
      <div class="BookMeta-Part BookMeta__Info" class="{% if page.english %} english text-sm{% endif %}">
        {% if page.progress %}
        <span class="BookProgress">
          <label>state:</label>
          <em class="typewriter" style="color: orange;">...</em>
        </span>
        {% endif %}

        <span class="BookDate">
          {{page.date | date: "%B,%d %Y"}}
        </span>

        <span class="BookAuthor">
          <label>{% if page.english %}by:{% else %}作者：{% endif %}</label>
          {% if page.author %}
          <a href="{{page.authorlink}}">{{page.author}}</a>
          {% else %}
          <a href="https://www.zhangxinghai.cn">singhi(星海)</a>
          {% endif %}
        </span>

        {% assign words = page.content | number_of_words: "auto" %}
        {% assign minutes_float = words | divided_by:200.0 %}
        {% assign minutes = minutes_float | ceil %}

        <span>
          <label>{% if page.english %}takes:{% else %}時長：{% endif %}</label>
          {{ minutes }}
          {% if page.english %}mins{% else %}分鐘{% endif %}
        </span>
      </div>
      {% if page.kofi %}
      <div class="BookMeta-Part">
        <script type='text/javascript'>
          kofiwidget2.init('Support me on Ko-fi', '#399c2a', 'S6S01GHU29');
          kofiwidget2.draw();
        </script>
      </div>
      {% endif %}
      {% if page.ai %}
      <div class="BookMeta-Part" style="font-size: 0.8em; color: #999;">
        {% if page.english %}
        <span class="english">Generated by AI ({{page.ai}})</span>
        {%else%}
        <span>本文由 AI ({{page.ai}}) 生成</span>
        {%endif%}
      </div>
      {% endif %}
    </div>

    {% if page.banner %}
    <div class="BookBanner">
      <img class="BookBannerImg" src="{{page.banner.img}}" alt="{{page.banner.caption}}" />
      <p class="BookBannerCaption">
        {{page.banner.caption}}
      </p>
    </div>
    {% endif %}

    <div class="BookContent{% if page.english %} english{% endif %}" id="BookContent">
      {{content}}
    </div>

    <div class="BookMeta BookMeta--foot">
      {% if page.kofi %}
      <div class="BookMeta-Part">
        <script type='text/javascript'>
          kofiwidget2.draw();
        </script>
      </div>
      {% endif %}
      <div class="BookMeta-Part BookMeta__Links">
        {% include links.html %}
      </div>
    </div>

    {% if page.comments %}
    <div class="BookComments">
      <h3>Comments: </h3>
      <div id="disqus_thread"></div>
      <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        var disqus_config = function () {
          this.page.url = "{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{ page.path }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://threelearning-zhangxinghai-cn.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
          Disqus.</a></noscript>
    </div>
    {% endif %}

    {% if page.nochapters != 1 %}
    <div class="BookSide BookChapters">
      {% if page.english %}
      <div class="IN{% if page.english %} english{% endif %}">
        <h2>Chapters:</h2>
        {% for part in site.data.courseoutline.course.parts %}
        <h3>{{ part.title_en }}</h3>
        <ul>
          {% for chapter in part.chapters %}
          <li
            class=" {% if page.path contains chapter.filename %}current{% endif %} BookProgress BookProgress-{{ chapter.progress | default: 'todo' }}">
            <a href="/courses/{{part.level}}/{{ chapter.filename }}-en">{{ chapter.title_en }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      {%else%}
      <div class="IN">
        <h2>章節：</h2>
        {% for part in site.data.courseoutline.course.parts %}
        <h3>{{ part.title }}</h3>
        <ul>
          {% for chapter in part.chapters %}
          <li
            class=" {% if page.path contains chapter.filename %}current{% endif %} BookProgress BookProgress-{{ chapter.progress | default: 'todo' }}">
            <a href="/courses/{{part.level}}/{{ chapter.filename }}">{{ chapter.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      {%endif%}

    </div>
    {% endif %}

    <div class="Book_Read_Progress Top">
    </div>

    <div class="Book_Read_Progress">
      <div class="IN"></div>
    </div>

    <div class="BookSide BookChapterMenu">
      <div class="IN{% if page.english %} english{% endif %}">
        <script>
          let h2h3_highlighted = () => { };

          {
            const bookContent = document.querySelector("#BookContent")
            const h2h3 = bookContent.querySelectorAll("h2, h3")

            document.writeln("<h2>{% if page.english %}Sections:{% else %}段落：{% endif %}</h2>")
            document.writeln("<ul id='Book__Chapter_Menu__List'>")
            h2h3.forEach((el, n) => {
              const text = el.textContent
              const id = el.id || text.replace(/\s+/g, "-").toLowerCase()
              document.writeln(
                `<li class="${el.tagName}"><a data-index="${n}" href="#${id}">${text}</a></li>`
              )
            })
            document.writeln("</ul>")

            document.addEventListener("DOMContentLoaded", () => {
              const Book__Chapter_Menu__List = document.querySelector("#Book__Chapter_Menu__List");

              Book__Chapter_Menu__List.addEventListener('click', (evt) => {
                if (evt.target.tagName === 'A') {
                  const n = + evt.target.getAttribute("data-index");
                  h2h3_highlighted(n);
                  requestAnimationFrame(updateReadProgress);
                }
              });

              const listitems = Book__Chapter_Menu__List.querySelectorAll("#Book__Chapter_Menu__List li")

              h2h3_highlighted = (n) => {
                listitems.forEach((li, i) => {
                  if (i === n) {
                    li.classList.add("highlighted")
                  } else {
                    li.classList.remove("highlighted")
                  }
                })
              }
            }, 0);
          }

          const BookReadProgressBar = document.querySelector(
            ".Book_Read_Progress .IN",
          )

          function updateReadProgress() {
            const progress =
              document.documentElement.scrollTop /
              (document.documentElement.scrollHeight - window.innerHeight)
            BookReadProgressBar.style.width = `${progress * 100}%`
            // BookReadProgressBar.textContent = `${Math.round(progress * 100)}%`
          }

          document.documentElement.addEventListener(
            "wheel", // wheel
            updateReadProgress,
            {
              passive: true,
            },
          )

        </script>

      </div>
    </div>
  </div>

  {% include coursejs.html %}

  {% if page.comments %}
  <!-- <script id="dsq-count-scr" src="//threelearning-zhangxinghai-cn.disqus.com/count.js" async></script> -->
  <!-- <a href="http://foo.com/bar.html#disqus_thread">Link</a> -->
  {% endif %}
</body>

</html>