<!DOCTYPE html>

<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/jslibs/hls/style.min.css" />
  <link rel="stylesheet" href="/assets/course.css?ts={{site.time | date: '%s'}}" />

  {% if page.math %}
  <link rel="stylesheet" href="/assets/jslibs/katex/katex.min.css">
  <script defer src="/assets/jslibs/katex/katex.min.js"></script>
  <script defer src="/assets/jslibs/katex/contrib/auto-render.min.js"></script>
  {% endif %}
</head>

<body>
  <div class="BG"></div>
  <div class="Content">
    <h2 class="PageTitle">{{page.title}}</h2>
    <div class="PageContent">
      {{content}}
    </div>
  </div>
</body>

</html>