<!DOCTYPE html>

<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/default.css?ts={{site.time | date: '%s'}}" />
</head>

<body>
  <div class="BG"></div>
  <div class="Content">
    <div class="" style="display: flex; justify-content: space-between; align-items: center;">
      <a href="/" class="ThreeJsLogoBox">
        <img class="ThreeJsLogo" src="/assets/images/threejs.svg" />
      </a>
      <div>
        <ul class="Menu">
          <li><a href="/"><i></i><span>Home</span></a></li>
          <li><a href="/courses"><span>Courses</span></a></li>
          <li><a href="/goal"><span>Goals</span></a></li>
          <li><a href="/hireme"><span>Hire</span></a></li>
          <li><a href="/cases"><span>Cases</span></a></li>
          <li><a href="/skills"><span>Skills</span></a></li>
          <li><a href="/about"><span>About</span></a></li>
          <li><a href="/touch"><span>Touch</span></a></li>
        </ul>
      </div>
    </div>

    {% if page.title %}
    <h2 class="underline">{{page.title}}</h2>
    {% endif %}

    {{ content }}
  </div>
</body>

</html>