<!DOCTYPE html>

<html>

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/default.css?ts={{site.time | date: '%s'}}" />
</head>

<body>
  <div class="BG"></div>
  <div class="Content">
    <div class="" style="display: flex; justify-content: space-between; align-items: center;">
      <a href="/" class="ThreeJsLogoBox">
        <img class="ThreeJsLogo" src="/assets/images/threejs.svg" />
      </a>
      <div>
        <ul class="Menu" style="display: flex; gap: 6px; list-style: none;">
          <li><a href="/">Home</a></li>
          <li><a href="/goal">Goals</a></li>
          <li><a href="/hireme">Hire me?</a></li>
          <li><a href="/cases">Cases</a></li>
          <li><a href="/skills">Skills</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/touch">Contact</a></li>
        </ul>
      </div>
    </div>

    {% if page.title %}
    <h2 class="underline">{{page.title}}</h2>
    {% endif %}

    {{ content }}
  </div>
</body>

</html>